body {
  background-size: cover;
  background-position: center;
    background-color: #017d3f;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  p {
    text-align: justify;
    color: white;
    font-size: medium;
  }

  h1 {
    color: orange;
    text-align: justify;
  }

  footer {
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  th {
    color: orange;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.60);
    margin: 20px;
    padding: 20px;
  }

  h2 {
    color: orange;
  }

  h3 {
    color: orange;
  }

  td {
    color: white;
  }
  main{
    background-color: rgba(0, 0, 0, 0.60);;
    padding: 200px;
    border-radius: 50px;

    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
img{
    width: 100%;
    
}
 .vcx{
  align-items: center;
  display: flex; justify-content: center;
 }
